<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Now_Playing.Options.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Now_Playing.Options.Settings>
            <setting name="PauseWhenAppClosedEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoShowLyricsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LyricsViewViewable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BitmapCacheMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ImageResolutionThreshold" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="StartupMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Now_Playing.Options.Settings>
    </userSettings>
</configuration>